.animated-logo-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  
  justify-content: center;
  align-items: center;
}

.animated-logo {
  animation: pulse 5s infinite ease-in-out;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}

@media (max-width: 430px) {
  .animated-logo {
    width: 200px;
    height: 200px;
  }
}
