@import "tailwindcss";


.portfolio-fonts {
  --font-anton: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  --font-bebas: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  --font-oswald: Arial, Helvetica, sans-serif;
}

:root {
  
    
    --fixedColor: rgb(255, 255, 255);
    --fixedColor2: rgb(0, 0, 0);

    --span: rgb(255, 0, 0);
    --confirmado: rgb(51, 255, 0);
    --solicitado: rgb(255, 94, 0);

    --mainShadow: 0 2px 10px rgb(5, 5, 5);
    --mainShadowEase: 0 5px 20px rgba(0, 0, 0, 0.534);
    --buttonShadow: 0 5px 10px rgba(255, 0, 0, 0.459);

}   

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-bebas);
  height: 100vh;
  margin: 0;
}

.font-anton {
  font-family: var(--font-anton);
}

.font-bebas {
  font-family: var(--font-bebas);
}

.font-oswald {
  font-family: var(--font-oswald);
}

.Toastify__toast {
  background: var(--mainColor1) !important;
  border-radius: 8px !important;
  color: var(--mainColor2) !important;
  font-family: var(--font-oswald) !important;
  font-size: 14px !important;
  font-weight: bold !important;
  padding: 10px 15px !important;
  margin-top: 20px !important;
  box-shadow: var(--mainShadow) !important;

}

.Toastify__progress-bar {
  background: var(--mainColor3) !important;
  
}

.Toastify__close-button {
  color: var(--mainColor2) !important;
  width: 40px !important;
  height: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px !important;
  font-weight: bold !important;
}


.Toastify__toast--success {
  color: var(--confirmado) !important;
}
.Toastify__toast--error {
  color: var(--span) !important;
}

 .logo {
    object-fit: cover;
 }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}



h1 {
  color: var(--mainColor2);
  font-family: var(--font-bebas);
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

h2{
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 500;
  margin-top: 10px;
}

h3{
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: 600;
}

h4{
  color: var(--mainColor2);
  font-size: 1rem;
  font-weight: 500;
  
}

h5{
  font-size: 16px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

h6{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--mainColor2);
}

span{
    font-size: 16px;
    font-weight: 500;
    color: var(--mainColor3);
    font-family: var(--font-oswald);
    margin-bottom: 6px;
}

input{
      font-family: var(--font-oswald);
      background-color: rgb(255, 255, 255);
      color: var(--mainColor3);

}

p{
  font-family: var(--font-oswald);
  color : var(--fixedColor);
}


button {
  cursor: pointer;
  transition: all 0.5s ease;
  border: none;
  font-weight: 500;
  color: var(--fixedColor);
  background-color: var(--mainColor3);
  
}

button:hover {
  transform: scale(1.05);
  transition: all 0.5s ease;
}

button:active {
  transform: translateY(0);
  transition: all 0.5s ease;
}

.componentContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.componentHeader {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.componentArea {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
    padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 35px;
}

/* customizar barra (Chrome/Edge/Safari) */
.componentArea::-webkit-scrollbar {
  width: 12px;
}

.componentArea::-webkit-scrollbar-track {
  background: #b1b1b1;
  border-radius: 15px;
}

.componentArea::-webkit-scrollbar-thumb {
  background: #131313;
  border-radius: 8px;
}

.componentArea::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.componentArea img,
.componentArea * {
  max-width: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.footer {
  flex-shrink: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-oswald);
}

@media (max-width: 700px) {
  
  span{
    font-size: 14px;
    
  }
  

  
}



