.admin-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  justify-content: space-between;
}

.admin-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  min-height: 0;
  align-items: center;
  justify-content: flex-start;
}






